/* You can add global styles to this file, and also import other style files */

.copied {
    background: lightpink;
}

.in-selection {
    background: lightgoldenrodyellow;
}

table[copyColumn] {
    border-collapse: collapse;
    user-select: none;
}