<h2>Autocompleter</h2>

<autocompleter [data]="games" displayProp="title" (itemSelect)="search($event)"></autocompleter>

<h2>Lifecycle</h2>

<button (click)="toonLifecycle = !toonLifecycle">Toggle lifecycle</button>

<lifecycle *ngIf="toonLifecycle" message="hoi"></lifecycle>

<h2>Add game</h2>

<div style="display: flex;">
	<div>
		<h3>Reactive</h3>
		<form (submit)="addGameReactive()" [formGroup]="form" id="reactive-form">
			<ol>
				<li>
					<label for="input-titel">Titel:</label>
					<input id="input-titel" formControlName="title">
					<span *ngIf="q.title.touched && q.title.invalid">Niet geldig.</span>
					<span *ngIf="q.title.touched && q.title.errors?.required">Vul in.</span>
					<span *ngIf="q.title.touched && q.title.errors?.pattern">Geen Chinese zooi.</span>
				</li>
				<li>
					<label>Rating:</label>
					<input type="range" id="input-rating" min="1" max="10" formControlName="rating" />
				</li>
				<li>
					<button [disabled]="form.invalid">Add game</button>
				</li>
				<li>
					<pre>{{form.value | json}}</pre>
				</li>
			</ol>
		</form>
	</div>

	<div>
		<h3>Template</h3>
		<form (submit)="addGameTemplate()" #f="ngForm">
			<ol>
				<li>
					<label for="input-titel-template">Titel:</label>
					<input id="input-titel-template"
						   [(ngModel)]="newGame.title"
						   name="title"
						   required
						   pattern="^[a-zA-Z0-9 _-]+$"
						   #inputTitle="ngModel">
					<span *ngIf="inputTitle.touched && inputTitle.invalid">Niet geldig.</span>
					<span *ngIf="inputTitle.touched && inputTitle.errors?.required">Vul in.</span>
					<span *ngIf="inputTitle.touched && inputTitle.errors?.pattern">Geen Chinese zooi.</span>
				</li>
				<li>
					<label>Rating:</label>
					<input type="range" min="1" max="10" [(ngModel)]="newGame.rating" name="rating">
				</li>
				<li>
					<button [disabled]="!f.valid">Add game</button>
				</li>
				<li>
					<pre>{{newGame | json}}</pre>
				</li>
			</ol>
		</form>
	</div>
</div>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		<tr
			*ngFor="let game of games"
			[class.tof]="game.rating > 8"
			(click)="game.rating = game.rating + 1">
			<td>{{ game.id }}</td>
			<td>{{ game.title }}</td>
			<td>{{ game.rating | euro }}</td>
		</tr>
	</tbody>
</table>
